In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_palette("GnBu_d")
sns.set_style("whitegrid")

In [83]:
# Load the Datasets

traffic_train = pd.read_csv('../../datasets/training_data.csv', encoding='latin1')
traffic_test = pd.read_csv('../../datasets/test_data.csv', encoding='latin1')

In [84]:
traffic_train.head()

,city_name,record_date,AVERAGE_SPEED_DIFF,AVERAGE_FREE_FLOW_SPEED,AVERAGE_TIME_DIFF,AVERAGE_FREE_FLOW_TIME,LUMINOSITY,AVERAGE_TEMPERATURE,AVERAGE_ATMOSP_PRESSURE,AVERAGE_HUMIDITY,AVERAGE_WIND_SPEED,AVERAGE_CLOUDINESS,AVERAGE_PRECIPITATION,AVERAGE_RAIN
0,Porto,2019-08-29 07:00:00,Medium,41.5,11.5,71.4,LIGHT,15.0,1019.0,100.0,3.0,NaN,0.0,NaN
1,Porto,2018-08-10 14:00:00,High,41.7,48.3,87.4,LIGHT,21.0,1021.0,53.0,5.0,céu claro,0.0,NaN
2,Porto,2019-09-01 16:00:00,High,38.6,38.4,85.2,LIGHT,26.0,1014.0,61.0,4.0,NaN,0.0,NaN
3,Porto,2019-02-26 11:00:00,High,37.4,61.0,94.1,LIGHT,18.0,1025.0,48.0,4.0,céu claro,0.0,NaN
4,Porto,2019-06-06 12:00:00,Medium,41.6,50.4,77.0,LIGHT,15.0,1008.0,82.0,10.0,NaN,0.0,NaN

In [85]:
traffic_train['AVERAGE_SPEED_DIFF'].value_counts()

AVERAGE_SPEED_DIFF
Medium       1651
Low          1419
High         1063
Very_High     479
Name: count, dtype: int64

In [86]:
traffic_train["AVERAGE_SPEED_DIFF"] = traffic_train["AVERAGE_SPEED_DIFF"].fillna("None")

speed_map = {
    'None': 0,
    'Low': 1,
    'Medium': 2,
    'High': 3,
    'Very_High': 4
}

traffic_train["AVERAGE_SPEED_DIFF"] = traffic_train["AVERAGE_SPEED_DIFF"].map(speed_map).astype(int)
traffic_train.head()

,city_name,record_date,AVERAGE_SPEED_DIFF,AVERAGE_FREE_FLOW_SPEED,AVERAGE_TIME_DIFF,AVERAGE_FREE_FLOW_TIME,LUMINOSITY,AVERAGE_TEMPERATURE,AVERAGE_ATMOSP_PRESSURE,AVERAGE_HUMIDITY,AVERAGE_WIND_SPEED,AVERAGE_CLOUDINESS,AVERAGE_PRECIPITATION,AVERAGE_RAIN
0,Porto,2019-08-29 07:00:00,2,41.5,11.5,71.4,LIGHT,15.0,1019.0,100.0,3.0,NaN,0.0,NaN
1,Porto,2018-08-10 14:00:00,3,41.7,48.3,87.4,LIGHT,21.0,1021.0,53.0,5.0,céu claro,0.0,NaN
2,Porto,2019-09-01 16:00:00,3,38.6,38.4,85.2,LIGHT,26.0,1014.0,61.0,4.0,NaN,0.0,NaN
3,Porto,2019-02-26 11:00:00,3,37.4,61.0,94.1,LIGHT,18.0,1025.0,48.0,4.0,céu claro,0.0,NaN
4,Porto,2019-06-06 12:00:00,2,41.6,50.4,77.0,LIGHT,15.0,1008.0,82.0,10.0,NaN,0.0,NaN

In [87]:
traffic_train['LUMINOSITY'].value_counts()

LUMINOSITY
LIGHT        3293
DARK         3253
LOW_LIGHT     266
Name: count, dtype: int64

In [88]:
traffic_train["LUMINOSITY"] = traffic_train["LUMINOSITY"].fillna("None")
luminosity_map = {'None':0,'DARK':1,'LOW_LIGHT':2,'LIGHT':3}
traffic_train["LUMINOSITY"] = traffic_train["LUMINOSITY"].map(luminosity_map).astype(int)
traffic_train.head()

,city_name,record_date,AVERAGE_SPEED_DIFF,AVERAGE_FREE_FLOW_SPEED,AVERAGE_TIME_DIFF,AVERAGE_FREE_FLOW_TIME,LUMINOSITY,AVERAGE_TEMPERATURE,AVERAGE_ATMOSP_PRESSURE,AVERAGE_HUMIDITY,AVERAGE_WIND_SPEED,AVERAGE_CLOUDINESS,AVERAGE_PRECIPITATION,AVERAGE_RAIN
0,Porto,2019-08-29 07:00:00,2,41.5,11.5,71.4,3,15.0,1019.0,100.0,3.0,NaN,0.0,NaN
1,Porto,2018-08-10 14:00:00,3,41.7,48.3,87.4,3,21.0,1021.0,53.0,5.0,céu claro,0.0,NaN
2,Porto,2019-09-01 16:00:00,3,38.6,38.4,85.2,3,26.0,1014.0,61.0,4.0,NaN,0.0,NaN
3,Porto,2019-02-26 11:00:00,3,37.4,61.0,94.1,3,18.0,1025.0,48.0,4.0,céu claro,0.0,NaN
4,Porto,2019-06-06 12:00:00,2,41.6,50.4,77.0,3,15.0,1008.0,82.0,10.0,NaN,0.0,NaN

In [89]:
traffic_train['AVERAGE_CLOUDINESS'].value_counts()

AVERAGE_CLOUDINESS
céu claro            1582
céu pouco nublado     516
nuvens dispersas      459
nuvens quebrados      448
algumas nuvens        422
nuvens quebradas      416
céu limpo             153
tempo nublado          67
nublado                67
Name: count, dtype: int64

In [93]:
traffic_train["AVERAGE_CLOUDINESS"] = traffic_train["AVERAGE_CLOUDINESS"].fillna("None")
cloud_map= {'None':0, 'algumas nuvens': 1, 'céu claro': 2, 'céu limpo': 3, 'céu pouco nublado': 4, 'nublado': 5, 'nuvens dispersas': 6, 'nuvens quebradas': 7, 'nuvens quebrados': 8, 'tempo nublado': 9}
traffic_train["AVERAGE_CLOUDINESS"] = traffic_train["AVERAGE_CLOUDINESS"].map(cloud_map).astype(int)
traffic_train.head()

,city_name,record_date,AVERAGE_SPEED_DIFF,AVERAGE_FREE_FLOW_SPEED,AVERAGE_TIME_DIFF,AVERAGE_FREE_FLOW_TIME,LUMINOSITY,AVERAGE_TEMPERATURE,AVERAGE_ATMOSP_PRESSURE,AVERAGE_HUMIDITY,AVERAGE_WIND_SPEED,AVERAGE_CLOUDINESS,AVERAGE_PRECIPITATION,AVERAGE_RAIN
0,Porto,2019-08-29 07:00:00,2,41.5,11.5,71.4,3,15.0,1019.0,100.0,3.0,0,0.0,NaN
1,Porto,2018-08-10 14:00:00,3,41.7,48.3,87.4,3,21.0,1021.0,53.0,5.0,2,0.0,NaN
2,Porto,2019-09-01 16:00:00,3,38.6,38.4,85.2,3,26.0,1014.0,61.0,4.0,0,0.0,NaN
3,Porto,2019-02-26 11:00:00,3,37.4,61.0,94.1,3,18.0,1025.0,48.0,4.0,2,0.0,NaN
4,Porto,2019-06-06 12:00:00,2,41.6,50.4,77.0,3,15.0,1008.0,82.0,10.0,0,0.0,NaN